{% extends "base.html" %}

{% block css %}
<link rel="stylesheet" href="{{url_for('static', filename='css/app.css')}}" />
{% endblock %}

{% block main %}

<h1>Add New Property</h1>

{% include 'flash_messages.html' %}
    
    <div class="form_container"> 
        <form action="{{url_for('property')}}" method="POST" enctype="multipart/form-data">
        {{ form.csrf_token }}
        
        <div class="title">
            <label class="form-label fw-bold">{{ form.title.label }}</label>
            {{ form.title (class="form-control")}}
        </div>

        <div class="description">
            <label class="form-label fw-bold">{{ form.description.label }}</label>
            {{ form.description (class="form-control py-3")}}
        </div>

        <div class="row">
            <div class="col-md-4 mt-3">
            <label class="form-label fw-bold">{{ form.bedroom.label }}</label>
            {{ form.bedroom (class="form-control", placeholder="3")}}
            </div>
            <div class="col-md-4 mt-3">
            <label class="form-label fw-bold">{{ form.bathroom.label }}</label>
            {{ form.bathroom (class="form-control", placeholder="2")}}
            </div>
        </div>
        
        <div class="row">
            <div class="col-md-4 mt-3">
            <label class="form-label fw-bold">{{ form.price.label }}</label>
            {{ form.price (class="form-control", placeholder="15000.00")}}
            </div>
            <div class="col-md-4 mt-3">
            <label class="form-label fw-bold">{{ form.type.label }}</label>
            {{ form.type (class="form-select")}}
            </div>
        </div>

        <div class="location">
            <label class="form-label fw-bold">{{ form.location.label }}</label>
            {{ form.location (class="form-control", placeholder="10 Waterloo Rd")}}
        </div>

        <div class="photo">
            <label class="form-label fw-bold">{{ form.photo.label }}</label>
            {{ form.photo (class="form-control")}}
        </div>

        <div class="col-md-12 mt-2" id="button">
            <button type="submit" class="px-3 btn btn-primary">Add Property</button>
        </div>
        </form>

    </div>
  
{% endblock %}
